<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="byteGiant.GFrameworkCore" version="1.0.5" targetFramework="net461" />
  <package id="byteGiant.GFrameworkData.dapper" version="1.1.8" targetFramework="net461" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="Dapper" version="1.50.2" targetFramework="net461" />
  <package id="DapperExtensions" version="1.5.0" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
</packages>